# .coveragerc to control coverage.py



[html]
directory = coverage_report

[run]
source= src, board
branch = True


[report]
exclude_lines =
    if self.debug:
    if 0:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:

ignore_errors = True
omit =
    # exclude external files 
    src/make_stub_files.py
    src/micropip.py
    src/firmwares.py

